
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

input,
textarea {
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
}


body {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.viewNavigator_root {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-color:666666;
}

.viewNavigator_header {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:46px;
	overflow:hide;
	padding:0px;
	
	background: #666;
}

.viewNavigator_header_backlink {
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    
    max-width:30%;
}

.viewNavigator_header_title {

	position:absolute;
	top:12px;
	left:0%;
	right:0%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-weight: bold;
	color: #FFFFFF;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    
    max-width:48%;
}

.viewNavigator_headerContent {

	-webkit-backface-visibility: hidden;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	position:absolute;
}

.viewNavigator_content {
	position:absolute;
	top:46px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:hidden;
	-webkit-backface-visibility: hidden;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.viewNavigator_content div {

  -webkit-transform: translate3d(0,0,0);
}

.viewNavigator_contentHolder {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:white;
	overflow:auto;
	padding:0px;
	margin:0px;
    overflow: hidden;
	-webkit-overflow-scrolling : touch;
	min-width:100%;
	min-height:100%
}

.viewNavigator_backface {
	-webkit-backface-visibility: hidden;
}

.viewNavigator_backButtonPosition {
	position:absolute;
	left: 5px;
	top: .6em;
}

.viewNavigator_backButton
{
	cursor:pointer;
	display: inline-block;
	white-space: nowrap;
	background-color: #ccc;
	border-radius: .2em;
	padding: 4px 10px;
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.viewNavigator_backButton:active
{
	background-color: #ddd;
}
