/*
THIS SOFTWARE IS PROVIDED BY ANDREW M. TRICE ''AS IS'' AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL ANDREW M. TRICE OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

input,
textarea {
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
}


body {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px; 
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.viewNavigator_root {
	width:100%;
	height:100%;
	background-color:666666;
	overflow:hidden;
}

.viewNavigator_header {
	position:absolute;
	width:100%;
	height:46px;
	overflow:hide;
	padding:0px;
	
	background: rgb(167,207,223); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
	
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.viewNavigator_header_backlink {
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    
    max-width:30%;
}

.viewNavigator_header_title {

	position:absolute;
	top:12px;
	left:0%;
	right:0%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-weight: bold;
	color: #FFFFFF;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    
    max-width:48%;
}

.viewNavigator_headerContent {

    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);

	position:absolute;
}

.viewNavigator_content {
	position:absolute;
	top:46px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:hidden;
	
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}


/* ANDROID BUG WORKAROUND */
.viewNavigator_content select {
	overflow:auto;
	position:relative;
    backface-visibility: auto;
	-webkit-backface-visibility: auto;
}



.viewNavigator_contentHolder > div:first-child {
    min-height:100%;
    border-bottom:1px solid #444;
    border-top:1px solid #444;
}

.viewNavigator_content div {

    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    -webkit-transform: translate3d(0,0,0);
}

.viewNavigator_contentHolder {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:white;
	overflow:auto;
	padding:0px;
	margin:0px;
    overflow: hidden;
	-webkit-overflow-scrolling : touch;
	min-width:100%;
	min-height:100%

    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);

}

.viewNavigator_backface {
/*    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
*/
}

.viewNavigator_backButtonPosition {
	position:absolute;
	left: 5px;
	top: .6em;
}

.viewNavigator_backButton
{
	cursor:pointer;
	display: inline-block;
	white-space: nowrap;
	background-color: #ccc;
	border-radius: .2em;
	padding: 4px 10px;
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.viewNavigator_backButton:active
{
	background-color: #ddd;
}
