
* {
-webkit-touch-callout: none;
-webkit-user-select: none;
}


body {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.viewNavigator_root {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-color:666666;
}

.viewNavigator_header {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:46px;
	overflow:hide;
	padding:0px;
	
	
	/*http://www.colorzilla.com/gradient-editor/*/
	background: rgb(149,149,149); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}

.viewNavigator_header_backlink {
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
    max-width:30%;
}

.viewNavigator_header_title {

	position:absolute;
	top:12px;
	left:0%;
	right:0%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-weight: bold;
	color: #FFFFFF;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
    
    max-width:48%;
}

.viewNavigator_headerContent {

	-webkit-backface-visibility: hidden;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	position:absolute;
}

.viewNavigator_content {
	position:absolute;
	top:46px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:hidden;
	-webkit-backface-visibility: hidden;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.viewNavigator_content * {

  -webkit-transform: translate3d(0,0,0);
  }

.viewNavigator_contentHolder {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:white;
	overflow:auto;
	padding:0px;
	margin:0px;
    overflow: hidden;
	-webkit-overflow-scrolling : touch;
}

.viewNavigator_backface {
	-webkit-backface-visibility: hidden;
}

/*http://www.red-team-design.com/just-another-awesome-css3-buttons*/
.backLinkButton
{
	cursor:pointer;
	display: inline-block;
	white-space: nowrap;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
	border: 1px solid #777;
	padding: 4px 10px;
	margin: 0.5em;
	font: bold  Arial, Helvetica;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: .2em;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.backLinkButton:hover
{
	background-color: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}


.pressed,
.backLinkButton:active
{
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}

.backLinkButton:focus
{
	outline: 0;
	background: #fafafa;
}    

